<form class="form-search">
	<div style="float:right;margin-top:6px;margin-bottom:20px;margin-right:6px;">
		<div class="input-append">
			<input type="text" ng-model="q" class="input-medium search-query" placeholder="Search">
			<button ng-click="search()" type="submit" class="btn"><i class="icon-search"></i></button>
		</div>
		<button ng-click="q=''; search()" ng-disabled="!q" type="submit" class="btn">Reset</button>
	</div>
</form>
<ul class="breadcrumb">
	<li class="active" style="font-size: x-large; font-weight: 650; margin-top: 3px;">Hatchling Events</li>
</ul>
<a href="#/hatchlings_acquired_event/new" class="btn">Add hatchlings acquired event</a>&nbsp;
<a href="#/hatchlings_died_event/new" class="btn">Add hatchlings died event</a>&nbsp;
<a href="#/hatchlings_released_event/new" class="btn">Add hatchlings released event</a>&nbsp;
<a href="#/hatchlings_doa_event/new" class="btn">Add hatchlings DOA event</a>&nbsp;
<table class="table table-striped table-condensed table-hover">
    <thead>
        <th sorted="species_code">Species</th>
        <th sorted="event_type">Event Type</th>
        <th sorted="event_date">Date</th>
        <th sorted="event_count">Count</th>
        <th sorted="county_name">County</th>
		<th></th>
    </thead>
    <tbody>
        <tr ng-repeat="item in items" id="item_{{item.hatchlings_event_id}}">
            <td>{{item.species_code}}</td>
            <td>{{item.event_type}}</td>
            <td>{{item.event_date}}</td>
            <td>{{item.event_count}}</td>
            <td>{{item.county_name}}</td>
            <td>
                <a href="#/hatchlings_{{item.event_type_code}}_event/edit/{{item.hatchlings_event_id}}" bs-tooltip="'Edit'"><i class="icon-pencil"></i></a>
                <a ng-click="delete(item)" bs-tooltip="'Delete'"><i class="icon-trash"></i></a>
            </td>
        </tr>
    </tbody>
</table>
