<ul class="breadcrumb">
	<li><a href='#/hatchlings_event'>Hatchlings Events</a> <span class="divider">/</span></li>
	<li class="active">Hatchlings Died Event</li>
</ul>

<form name="form" class="form-horizontal">
	<div class="control-group" ng-class="{error: form.species_code.$invalid}">
		<label class="control-label" for="species_code">Species:</label>
		<div class="controls">
			<select id="species_code" name="species_code" ng-model="item.species_code" ng-options="s.id as s.name for s in species" ng-change="save()" ></select>
		</div>
	</div>
	<div class="control-group input-append" style="display: block" ng-class="{error: form.event_date.$invalid}">
		<label class="control-label" for="event_date">Event date:</label>
		<div class="controls">
			<input id="event_date" name="event_date" class="input-small" type="text" ng-model="item.event_date" data-date-format="dd-MM-yyyy" bs-datepicker ng-model-onblur ng-change="save()" />
			<button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
		</div>
	</div>
	<div class="control-group" ng-class="{error: form.event_count.$invalid}">
		<label class="control-label" for="event_count">Event count:</label>
		<div class="controls">
			<input type="text" ng-model="item.event_count" id="event_count" name="event_count" ng-maxlength="255" maxlength="255" ng-model-onblur ng-change="save()" />
			<span class="error" ng-show="form.event_count.$error.maxlength">max length exceeded</span>
		</div>
	</div>
</form>
