<div class="row">
	<div class="span7" style="text-align:center; margin: 0 auto; float: none;">
		<div style="width:580px; margin-left:auto; margin-right:auto;">
			<span>The e-mail address '{{ $root.unregisteredUserEmail }}' is not registered with RosterWeb.<br />
			Contact </span><a href="mailto:jpalexander@turtlegeek.com?Subject=RosterWeb%20Registration%20Request%20For%20{{ $root.unregisteredUserEmail }}" style="font-weight: bold;">jpalexander@turtlegeek.com</a><span> for a RosterWeb user ID.</span>
		</div>
	</div>
</div>