<div style="width:230px; margin-left:auto; margin-right:auto; text-align:center;">
	<form id="openid_form" style="width:230px;">
		<fieldset>
			<legend>Sign in using OpenID</legend>
			<div style="width:222px; margin-left:auto; margin-right:auto;">
				<a title="Sign in with Google" href="" ng-click="doLogin('google');" style="background: #FFF url(/rosterweb/img/openid-providers-en.png); background-position: 0px 0px" class="openid_large_btn"></a>
				<a title="Sign in with Yahoo!" href="" ng-click="doLogin('yahoo');" style="background: #FFF url(/rosterweb/img/openid-providers-en.png); background-position: -100px 0px" class="openid_large_btn"></a>
			</div>
		</fieldset>
		<fieldset>
			<div style="width:111px; clear:both; margin-left:auto; margin-right:auto;">
				<a title="Guest Login" href="" ng-click="doLogin('guest');" style="background: #FFF url(/rosterweb/img/guest.png);" class="openid_large_btn"></a>
			</div>
		</fieldset>
	</form>
</div>
