<ul class="breadcrumb">
	<li><a href='#/organization'>Organizations</a></li>
	<li class="active">Organization: {{ item.organization_name }}</li>
</ul>
<form name="form" class="form-horizontal">
    <tabset>
        <tab heading="General Information">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.organization_name.$invalid}">
							<label for="organization_name">Organization name</label>
							<div>
								<input class="form-control" type="text" ng-model="item.organization_name" id="organization_name" name="organization_name" required ng-maxlength="255" maxlength="255" autofocus="autofocus" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.organization_name.$error.required">required</span>
								<span class="error" ng-show="form.organization_name.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.address_1.$invalid}">
							<label for="address_1">Address 1</label>
							<div>
								<input class="form-control" type="text" ng-model="item.address_1" id="address_1" name="address_1" ng-maxlength="255" maxlength="255" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.address_1.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.address_2.$invalid}">
							<label for="address_2">Address 2</label>
							<div>
								<input class="form-control" type="text" ng-model="item.address_2" id="address_2" name="address_2" ng-maxlength="255" maxlength="255" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.address_2.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.city.$invalid}">
							<label for="city">City</label>
							<div>
								<input class="form-control" type="text" ng-model="item.city" id="city" name="city" ng-maxlength="255" maxlength="255" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.city.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.state.$invalid}">
							<label for="state">State</label>
							<div>
								<select class="form-control" id="state" name="state" ng-model="item.state" ng-options="s.id as s.name for s in states | orderBy: 'name'" ng-change="save()"></select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.zip_code.$invalid}">
							<label for="zip_code">ZIP code</label>
							<div>
								<input class="form-control" type="text" ng-model="item.zip_code" id="zip_code" name="zip_code" ng-maxlength="255" maxlength="255" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.zip_code.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.phone.$invalid}">
							<label for="phone">Phone</label>
							<div>
								<input class="form-control" type="text" ng-model="item.phone" id="phone" name="phone" ng-maxlength="255" maxlength="255" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.phone.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.fax.$invalid}">
							<label for="fax">Fax</label>
							<div>
								<input class="form-control" type="text" ng-model="item.fax" id="fax" name="fax" ng-maxlength="255" maxlength="255" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.fax.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.email_address.$invalid}">
							<label for="email_address">E-mail</label>
							<div>
								<input class="form-control" type="text" ng-model="item.email_address" id="email_address" name="email_address" ng-maxlength="255" maxlength="255" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.email_address.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.permit_number.$invalid}">
							<label for="permit_number">Permit number</label>
							<div>
								<input class="form-control" type="text" ng-model="item.permit_number" id="permit_number" name="permit_number" ng-maxlength="255" maxlength="255" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.permit_number.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.contact_name.$invalid}">
							<label for="contact_name">Contact name</label>
							<div>
								<input class="form-control" type="text" ng-model="item.contact_name" id="contact_name" name="contact_name" ng-maxlength="255" maxlength="255" ng-model-onblur ng-change="save()">
								<span class="error" ng-show="form.contact_name.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</tab>
        <tab heading="Hatchling and Washback Starting Balances">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<h4 style="text-align:center; margin-bottom:20px;">Hatchling Starting Balance Values</h4>
						<div class="form-group" ng-class="{error: form.hatchling_balance_as_of_date.$invalid}">
							<label for="hatchling_balance_as_of_date">Balance as of date</label>
							<div class="input-group">
								<input class="form-control" type="text" id="hatchling_balance_as_of_date" name="hatchling_balance_as_of_date" datepicker-popup="yyyy-MM-dd" ng-model="item.hatchling_balance_as_of_date" min-date="'1950-01-01'" max-date="'2099-12-31'" is-open="datePicker.hatchlingBalanceAsOfDateOpened" datepicker-options="dateOptions" close-text="Close" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openDatePicker($event, 'hatchlingBalanceAsOfDateOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<h4 style="text-align:center; margin-bottom:20px;">Washback Starting Balance Values</h4>
						<div class="form-group" ng-class="{error: form.washback_balance_as_of_date.$invalid}">
							<label for="washback_balance_as_of_date">Balance as of date</label>
							<div class="input-group">
								<input class="form-control" type="text" id="washback_balance_as_of_date" name="washback_balance_as_of_date" datepicker-popup="yyyy-MM-dd" ng-model="item.washback_balance_as_of_date" min-date="'1950-01-01'" max-date="'2099-12-31'" is-open="datePicker.washbackBalanceAsOfDateOpened" datepicker-options="dateOptions" close-text="Close" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openDatePicker($event, 'washbackBalanceAsOfDateOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="form-group" ng-class="{error: form.cc_hatchling_starting_balance.$invalid}">
							<label for="cc_hatchling_starting_balance">Loggerhead (Cc)</label>
							<div>
								<input class="form-control" type="number" min="0" ng-model="item.cc_hatchling_starting_balance" id="cc_hatchling_starting_balance" name="cc_hatchling_starting_balance" ng-maxlength="6" maxlength="6" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.cc_hatchling_starting_balance.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<div class="form-group" ng-class="{error: form.cc_washback_starting_balance.$invalid}">
							<label for="cc_washback_starting_balance">Loggerhead (Cc)</label>
							<div>
								<input class="form-control" type="number" min="0" ng-model="item.cc_washback_starting_balance" id="cc_washback_starting_balance" name="cc_washback_starting_balance" ng-maxlength="6" maxlength="6" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.cc_washback_starting_balance.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="form-group" ng-class="{error: form.cm_hatchling_starting_balance.$invalid}">
							<label for="cm_hatchling_starting_balance">Green (Cm)</label>
							<div>
								<input class="form-control" type="number" min="0" ng-model="item.cm_hatchling_starting_balance" id="cm_hatchling_starting_balance" name="cm_hatchling_starting_balance" ng-maxlength="6" maxlength="6" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.cm_hatchling_starting_balance.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<div class="form-group" ng-class="{error: form.cm_washback_starting_balance.$invalid}">
							<label for="cm_washback_starting_balance">Green (Cm)</label>
							<div>
								<input class="form-control" type="number" min="0" ng-model="item.cm_washback_starting_balance" id="cm_washback_starting_balance" name="cm_washback_starting_balance" ng-maxlength="6" maxlength="6" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.cm_washback_starting_balance.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="form-group" ng-class="{error: form.dc_hatchling_starting_balance.$invalid}">
							<label for="dc_hatchling_starting_balance">Leatherback (Dc)</label>
							<div>
								<input class="form-control" type="number" min="0" ng-model="item.dc_hatchling_starting_balance" id="dc_hatchling_starting_balance" name="dc_hatchling_starting_balance" ng-maxlength="6" maxlength="6" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.dc_hatchling_starting_balance.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<div class="form-group" ng-class="{error: form.dc_washback_starting_balance.$invalid}">
							<label for="dc_washback_starting_balance">Leatherback (Dc)</label>
							<div>
								<input class="form-control" type="number" min="0" ng-model="item.dc_washback_starting_balance" id="dc_washback_starting_balance" name="dc_washback_starting_balance" ng-maxlength="6" maxlength="6" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.dc_washback_starting_balance.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="form-group" ng-class="{error: form.other_hatchling_starting_balance.$invalid}">
							<label for="other_hatchling_starting_balance">Other</label>
							<div>
								<input class="form-control" type="number" min="0" ng-model="item.other_hatchling_starting_balance" id="other_hatchling_starting_balance" name="other_hatchling_starting_balance" ng-maxlength="6" maxlength="6" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.other_hatchling_starting_balance.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<div class="form-group" ng-class="{error: form.other_washback_starting_balance.$invalid}">
							<label for="other_washback_starting_balance">Other</label>
							<div>
								<input class="form-control" type="number" min="0" ng-model="item.other_washback_starting_balance" id="other_washback_starting_balance" name="other_washback_starting_balance" ng-maxlength="6" maxlength="6" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.other_washback_starting_balance.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="form-group" ng-class="{error: form.unknown_hatchling_starting_balance.$invalid}">
							<label for="unknown_hatchling_starting_balance">Unknown</label>
							<div>
								<input class="form-control" type="number" min="0" ng-model="item.unknown_hatchling_starting_balance" id="unknown_hatchling_starting_balance" name="unknown_hatchling_starting_balance" ng-maxlength="6" maxlength="6" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.unknown_hatchling_starting_balance.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<div class="form-group" ng-class="{error: form.unknown_washback_starting_balance.$invalid}">
							<label for="unknown_washback_starting_balance">Unknown</label>
							<div>
								<input class="form-control" type="number" min="0" ng-model="item.unknown_washback_starting_balance" id="unknown_washback_starting_balance" name="unknown_washback_starting_balance" ng-maxlength="6" maxlength="6" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.unknown_washback_starting_balance.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</tab>
        <tab heading="Preferences">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.preferred_units_type.$invalid}">
							<label for="preferred_units_type">Units type</label>
							<div>
								<select class="form-control" id="preferred_units_type" name="preferred_units_type" ng-model="item.preferred_units_type" ng-options="u.id as u.name for u in unit_types | orderBy: 'name'" ng-change="save()"></select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</tab>
    </tabset>
</form>
