 <div ng-controller="TankWaterListCtrl">
 <!--
	<ul class="breadcrumb">
		<li class="active">Water Quality Measurements ({{ $root.recordCounts.tankWaterCount }})</li>
	</ul>
-->	
	<label>Water Quality Measurements ({{ $root.recordCounts.tankWaterCount }})</label>
    <tabset>
        <tab heading="Measurements">
			<h6>Measurements must be taken each week for every turtle holding tank with a separate water supply</h6>
			<table class="table table-striped table-condensed table-hover">
				<thead>
					<th sorted="date_measured">Date Measured</th>
					<th sorted="temperature">Temperature (°F)</th>
					<th sorted="salinity">Salinity (in ppt)</th>
					<th sorted="ph">pH</th>
					<th><a href="#/tank_water/new" tooltip="Add a new water quality measurement"><i class="glyphicon glyphicon-plus"></i></a></th>
				</thead>
				<tbody>
					<tr ng-repeat="item in items | orderBy:sort_order:sort_desc" id="item_{{item.tank_water_id}}">
						<td>{{item.date_measured}}</td>
						<td>{{item.temperature}}</td>
						<td>{{item.salinity}}</td>
						<td>{{item.ph}}</td>
						<td>
							<a href="#/tank_water/edit/{{item.tank_water_id}}" tooltip="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
							<a href ng-click="delete(item)" tooltip="Delete"><i class="glyphicon glyphicon-trash"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</tab>
		<tab heading="Temperature Graph">
			<div>
				<ng-temperature-graph val="items"></ng-temperature-graph>
			</div>
		</tab>
		<tab heading="Salinity Graph">
			<div>
				<ng-salinity-graph val="items"></ng-salinity-graph>
			</div>
		</tab>
		<tab heading="pH Graph">
			<div>
				<ng-ph-graph val="items"></ng-ph-graph>
			</div>
		</tab>
	</tabset>
</div>