<ul class="breadcrumb">
	<li><a href='#/turtle'>Sea Turtles</a></li>
	<li class="active">Sea Turtle: {{ item.turtle_name }}</li>
</ul>
<form name="form" class="form-horizontal">
    <tabset>
        <tab heading="General Information">
			<div class="container" style="float:left; margin:3px;">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.turtle_name.$invalid}">
							<label for="turtle_name">Turtle Name</label>
							<div>
								<input class="form-control" type="text" ng-model="item.turtle_name" id="turtle_name" name="turtle_name" ng-required ng-maxlength="255" maxlength="255" autofocus="autofocus" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.turtle_name.$error.required">required</span>
								<span class="error" ng-show="form.turtle_name.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.sid_number.$invalid}">
							<label for="sid_number">SID number</label>
							<div>
								<input class="form-control" type="text" ng-model="item.sid_number" id="sid_number" name="sid_number" ng-maxlength="255" maxlength="255" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.sid_number.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.stranding_id_number.$invalid}">
							<label for="stranding_id_number">Stranding ID number</label>
							<div>
								<input class="form-control" type="text" ng-model="item.stranding_id_number" id="stranding_id_number" name="stranding_id_number" ng-maxlength="255" maxlength="255" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.stranding_id_number.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.species.$invalid}">
							<label for="species">Species</label>
							<div>
								<select class="form-control" id="species" name="species" ng-model="item.species" ng-options="s.id as s.name for s in species" ng-change="save()" ></select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.turtle_size.$invalid}">
							<label for="turtle_size">Size</label>
							<div>
								<select class="form-control" id="turtle_size" name="turtle_size" ng-model="item.turtle_size" ng-options="t.id as t.name for t in turtle_sizes" ng-change="save()" ></select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.status.$invalid}">
							<label for="status">Status</label>
							<div>
								<select class="form-control" id="status" name="status" ng-model="item.status" ng-options="s.id as s.name for s in statuses" ng-change="save()" ></select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.date_captured.$invalid}">
							<label for="date_captured">Date captured</label>
							<div class="input-group">
								<input class="form-control" type="text" id="date_captured" name="date_captured" datepicker-popup="yyyy-MM-dd" ng-model="item.date_captured" min-date="'1950-01-01'" max-date="'2099-12-31'" is-open="datePicker.dateCapturedOpened" datepicker-options="dateOptions" close-text="Close" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openDatePicker($event, 'dateCapturedOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.date_acquired.$invalid}">
							<label for="date_acquired">Date acquired</label>
							<div class="input-group">
								<input class="form-control" type="text" id="date_acquired" name="date_acquired" datepicker-popup="yyyy-MM-dd" ng-model="item.date_acquired" min-date="'1950-01-01'" max-date="'2099-12-31'" is-open="datePicker.dateAcquiredOpened" datepicker-options="dateOptions" close-text="Close" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openDatePicker($event, 'dateAcquiredOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.acquired_from.$invalid}">
							<label for="acquired_from">Acquired from</label>
							<div>
								<input class="form-control" type="text" ng-model="item.acquired_from" id="acquired_from" name="acquired_from" ng-maxlength="255" maxlength="255" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.acquired_from.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.acquired_county.$invalid}">
							<label for="acquired_county">County</label>
							<div class="controls">
								<select class="form-control" id="acquired_county" name="acquired_county" ng-model="item.acquired_county" ng-options="c.county_name as c.county_name for c in counties | orderBy: 'county_name'" ng-change="save()" ></select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.acquired_latitude.$invalid || form.acquired_longitude.$invalid}">
							<label for="acquired_latitude">Lat / Lon (dec deg)</label>
							<div>
								<input class="form-control" type="text" ng-model="item.acquired_latitude" id="acquired_latitude" name="acquired_latitude" style="width:95px;display:inline-block;" ng-maxlength="255" maxlength="255" ng-model-onblur ng-change="save()" />
								<input class="form-control" type="text" ng-model="item.acquired_longitude" id="acquired_longitude" name="acquired_longitude" style="width:95px;display:inline-block;" ng-maxlength="255" maxlength="255" ng-model-onblur ng-change="save()" />
								<!-- <a href="" ng-click="mapAcquiredLatLng();" tooltip="Locate on map" tooltip-placement="right"><img src="/rosterweb/img/globe.png" style="height:30px;width:30px;display:inline-block;"></a> -->
								<span class="error" ng-show="form.acquired_latitude.$error.maxlength">max length exceeded</span>
								<span class="error" ng-show="form.acquired_longitude.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<!--
							<ng-include src="'/rosterweb/views/map_acquired.html'" onload="initAcquiredMap()"></ng-include>
							-->
							<div id="acquired_map" style="height:400px;width:400px;">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.date_relinquished.$invalid}">
							<label for="date_relinquished">Date relinquished</label>
							<div class="input-group">
								<input class="form-control" type="text" id="date_relinquished" name="date_relinquished" datepicker-popup="yyyy-MM-dd" ng-model="item.date_relinquished" min-date="'1950-01-01'" max-date="'2099-12-31'" is-open="datePicker.dateRelinquishedOpened" datepicker-options="dateOptions" close-text="Close" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openDatePicker($event, 'dateRelinquishedOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.relinquished_to.$invalid}">
							<label for="relinquished_to">Relinquished to</label>
							<div>
								<input class="form-control" type="text" ng-model="item.relinquished_to" id="relinquished_to" name="relinquished_to" ng-maxlength="255" maxlength="255" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.relinquished_to.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.relinquished_county.$invalid}">
							<label for="relinquished_county">County</label>
							<div>
								<select class="form-control" id="relinquished_county" name="relinquished_county" ng-model="item.relinquished_county" ng-options="c.county_name as c.county_name for c in counties | orderBy: 'county_name'" ng-change="save()" ></select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.relinquished_latitude.$invalid || form.relinquished_longitude.$invalid}">
							<label for="relinquished_latitude">Lat / Lon (dec deg)</label>
							<div>
								<input class="form-control" type="text" ng-model="item.relinquished_latitude" id="relinquished_latitude" name="relinquished_latitude" style="width:95px;display:inline-block;" ng-maxlength="255" maxlength="255" ng-model-onblur ng-change="save()" />
								<input class="form-control" type="text" ng-model="item.relinquished_longitude" id="relinquished_longitude" name="relinquished_longitude" style="width:95px;display:inline-block;" ng-maxlength="255" maxlength="255" ng-model-onblur ng-change="save()" />
								<!-- <a href="" ng-click="mapRelinquishedLatLng();" tooltip="Locate on map" tooltip-placement="right"><img src="/rosterweb/img/globe.png" style="height:30px;width:30px;display:inline-block;"></a> -->
								<span class="error" ng-show="form.relinquished_latitude.$error.maxlength">max length exceeded</span>
								<span class="error" ng-show="form.relinquished_longitude.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<!--
							<ng-include src="'/rosterweb/views/map_relinquished.html'" onload="initRelinquishedMap()"></ng-include>
							-->
							<div id="relinquished_map" style="height:400px;width:400px;">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{error: form.anomalies.$invalid}">
							<label for="anomalies">Anomalies</label>
							<div>
								<input class="form-control" type="text" ng-model="item.anomalies" id="anomalies" name="anomalies" ng-maxlength="255" maxlength="255" ng-model-onblur ng-change="save()" />
								<span class="error" ng-show="form.anomalies.$error.maxlength">max length exceeded</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group well">
							<h4 style="margin-top: 0px;">Injuries</h4>
							<div style="margin-bottom: 0px;">
								<div style="margin-left: 20px;">
									<label class="checkbox" for="injury_boat_strike">
										<input type="checkbox" ng-model="item.injury_boat_strike" ng-checked="item.injury_boat_strike" name="injury_boat_strike" id="injury_boat_strike" ng-change="save()" />Boat/Propeller strike
									</label>
								</div>
							</div>
							<div style="margin-bottom: 0px;">
								<div style="margin-left: 20px;">
									<label class="checkbox" for="injury_intestinal_impaction">
										<input type="checkbox" ng-model="item.injury_intestinal_impaction" ng-checked="item.injury_intestinal_impaction" name="injury_intestinal_impaction" id="injury_intestinal_impaction" ng-change="save()" />Intestinal impaction
									</label>
								</div>
							</div>	
							<div style="margin-bottom: 0px;">
								<div style="margin-left: 20px;">
									<label class="checkbox" for="injury_line_entanglement">
										<input type="checkbox" ng-model="item.injury_line_entanglement" ng-checked="item.injury_line_entanglement" name="injury_line_entanglement" id="injury_line_entanglement" ng-change="save()" />Line/Net entanglement
									</label>
								</div>
							</div>	
							<div style="margin-bottom: 0px;">
								<div style="margin-left: 20px;">
									<label class="checkbox" for="injury_fish_hook">
										<input type="checkbox" ng-model="item.injury_fish_hook" ng-checked="item.injury_fish_hook" name="injury_fish_hook" id="injury_fish_hook" ng-change="save()" />Fish hook
									</label>
								</div>
							</div>	
							<div style="margin-bottom: 0px;">
								<div style="margin-left: 20px;">
									<label class="checkbox" for="injury_upper_respiratory">
										<input type="checkbox" ng-model="item.injury_upper_respiratory" ng-checked="item.injury_upper_respiratory" name="injury_upper_respiratory" id="injury_upper_respiratory" ng-change="save()" />Upper respiratory
									</label>
								</div>
							</div>	
							<div style="margin-bottom: 0px;">
								<div style="margin-left: 20px;">
									<label class="checkbox" for="injury_animal_bite">
										<input type="checkbox" ng-model="item.injury_animal_bite" ng-checked="item.injury_animal_bite" name="injury_animal_bite" id="injury_animal_bite" ng-change="save()" />Shark/Bird bite
									</label>
								</div>
							</div>	
							<div style="margin-bottom: 0px;">
								<div style="margin-left: 20px;">
									<label class="checkbox" for="injury_fibropapilloma">
										<input type="checkbox" ng-model="item.injury_fibropapilloma" ng-checked="item.injury_fibropapilloma" name="injury_fibropapilloma" id="injury_fibropapilloma" ng-change="save()" />Fibropapilloma
									</label>
								</div>
							</div>	
							<div style="margin-bottom: 0px;">
								<div style="margin-left: 20px;">
									<label class="checkbox" for="injury_misc_epidemic">
										<input type="checkbox" ng-model="item.injury_misc_epidemic" ng-checked="item.injury_misc_epidemic" name="injury_misc_epidemic" id="injury_misc_epidemic" ng-change="save()" />Misc. epidemic
									</label>
								</div>
							</div>	
							<div style="margin-bottom: 0px;">
								<div style="margin-left: 20px;">
									<label class="checkbox" for="injury_doa">
										<input type="checkbox" ng-model="item.injury_doa" ng-checked="item.injury_doa" name="injury_doa" id="injury_doa" ng-change="save()" />DOA
									</label>
								</div>
							</div>	
							<div style="margin-bottom: 0px;">
								<div style="margin-left: 20px;">
									<label class="checkbox" for="injury_other">
										<input type="checkbox" ng-model="item.injury_other" ng-checked="item.injury_other" name="injury_other" id="injury_other" ng-change="save()" />Other
									</label>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</tab>
        <tab heading="Tags ({{ $root.recordCounts.turtleTagCount }})">
			<div>
				<ng-include src="'/rosterweb/views/turtle_tag_list.html'"></ng-include>
			</div>
			<hr />
			<div style="float:left; margin:3px;">
				<div class="well">
					<h4>Initial encounter information (used on Tagging Data Form)</h4>
					<div style="margin-left: -16px; margin-bottom: 12px;">
						<label class="checkbox" for="was_carrying_tags_when_enc">
							<input type="checkbox" ng-model="item.was_carrying_tags_when_enc" ng-checked="item.was_carrying_tags_when_enc" name="was_carrying_tags_when_enc" id="was_carrying_tags_when_enc" ng-change="save()" />Was turtle carrying tags when initially encountered?
						</label>
					</div>
					<div class="form-group" ng-class="{error: form.recapture_type.$invalid}">
						<label for="recapture_type">If yes, recapture type</label>
						<div>
							<select class="form-control" id="recapture_type" name="recapture_type" ng-model="item.recapture_type" ng-options="r.id as r.name for r in recapture_types" ng-disabled="item.was_carrying_tags_when_enc == false" ng-change="save()" ></select>
						</div>
					</div>
					<div class="form-group" ng-class="{error: form.tag_return_address.$invalid}">
						<label for="tag_return_address">Tag return address</label>
						<div>
							<input class="form-control" type="text" ng-model="item.tag_return_address" id="tag_return_address" name="tag_return_address" ng-maxlength="255" maxlength="255" ng-disabled="item.was_carrying_tags_when_enc == false" ng-model-onblur ng-change="save()" />
							<span class="error" ng-show="form.tag_return_address.$error.maxlength">max length exceeded</span>
						</div>
					</div>		
					<div class="form-group" ng-class="{error: form.capture_project_type.$invalid}">
						<label for="capture_project_type">Project type</label>
						<div>
							<select class="form-control" id="capture_project_type" name="capture_project_type" ng-model="item.capture_project_type" ng-options="c.id as c.name for c in capture_project_types" ng-change="save()" ></select>
						</div>
					</div>
					<div class="form-group" ng-class="{error: form.did_turtle_nest.$invalid}">
						<label for="did_turtle_nest">If "Nesting beach," did turtle nest?</label>
						<div>
							<select class="form-control" id="did_turtle_nest" name="did_turtle_nest" ng-model="item.did_turtle_nest" ng-options="y.id as y.name for y in yes_no_undetermineds" ng-disabled="item.capture_project_type != 'N'" ng-change="save()" ></select>
						</div>
					</div>
					<div class="form-group" ng-class="{error: form.capture_project_other.$invalid}">
						<label for="capture_project_other">If "Other," describe</label>
						<div>
							<input class="form-control" type="text" ng-model="item.capture_project_other" id="capture_project_other" name="capture_project_other" ng-maxlength="255" maxlength="255" ng-disabled="item.capture_project_type != 'O'" ng-model-onblur ng-change="save()" />
							<span class="error" ng-show="form.capture_project_other.$error.maxlength">max length exceeded</span>
						</div>
					</div>
				</div>
			</div>
			<div style="float:left; margin:3px 3px 3px 40px;">
				<div class="well">
					<h4>Turtle was inspected and/or scanned for</h4>
					<div style="margin-left: -16px;">
						<label class="checkbox" for="inspected_for_tag_scars">
							<input type="checkbox" ng-model="item.inspected_for_tag_scars" ng-checked="item.inspected_for_tag_scars" name="inspected_for_tag_scars" id="inspected_for_tag_scars" ng-change="save()" />Tag scars
						</label>
					</div>	
					<div class="form-group" ng-class="{error: form.tag_scars_located.$invalid}">
						<label for="tag_scars_located">Location?</label>
						<div>
							<input class="form-control" type="text" ng-model="item.tag_scars_located" id="tag_scars_located" name="tag_scars_located" ng-maxlength="255" maxlength="255" ng-disabled="item.inspected_for_tag_scars == false" ng-model-onblur ng-change="save()" />
							<span class="error" ng-show="form.tag_scars_located.$error.maxlength">max length exceeded</span>
						</div>
					</div>
					<div style="margin-left: -16px;">
						<label class="checkbox" for="scanned_for_pit_tags">
							<input type="checkbox" ng-model="item.scanned_for_pit_tags" ng-checked="item.scanned_for_pit_tags" name="scanned_for_pit_tags" id="scanned_for_pit_tags" ng-change="save()" />PIT tags
						</label>
					</div>	
					<div class="form-group" ng-class="{error: form.pit_tags_scan_frequency.$invalid}">
						<label for="pit_tags_scan_frequency">Frequency?</label>
						<div>
							<input class="form-control" type="text" ng-model="item.pit_tags_scan_frequency" id="pit_tags_scan_frequency" name="pit_tags_scan_frequency" ng-maxlength="255" maxlength="255" ng-disabled="item.scanned_for_pit_tags == false" ng-model-onblur ng-change="save()" />
							<span class="error" ng-show="form.pit_tags_scan_frequency.$error.maxlength">max length exceeded</span>
						</div>
					</div>
					<div style="margin-left: -16px;">
						<label class="checkbox" for="scanned_for_magnetic_wires">
							<input type="checkbox" ng-model="item.scanned_for_magnetic_wires" ng-checked="item.scanned_for_magnetic_wires" name="scanned_for_magnetic_wires" id="scanned_for_magnetic_wires" ng-change="save()" />Magnetic wires
						</label>
					</div>	
					<div class="form-group" ng-class="{error: form.magnetic_wires_located.$invalid}">
						<label for="magnetic_wires_located">Located?</label>
						<div>
							<input class="form-control" type="text" ng-model="item.magnetic_wires_located" id="magnetic_wires_located" name="magnetic_wires_located" ng-maxlength="255" maxlength="255" ng-disabled="item.scanned_for_magnetic_wires == false" ng-model-onblur ng-change="save()" />
							<span class="error" ng-show="form.magnetic_wires_located.$error.maxlength">max length exceeded</span>
						</div>
					</div>
					<div style="margin-left: -16px;">
						<label class="checkbox" for="inspected_for_living_tags">
							<input type="checkbox" ng-model="item.inspected_for_living_tags" ng-checked="item.inspected_for_living_tags" name="inspected_for_living_tags" id="inspected_for_living_tags" ng-change="save()" />Living tags
						</label>
					</div>	
					<div class="form-group" ng-class="{error: form.living_tags_located.$invalid}">
						<label for="living_tags_located">Located?</label>
						<div>
							<input class="form-control" type="text" ng-model="item.living_tags_located" id="living_tags_located" name="living_tags_located" ng-maxlength="255" maxlength="255" ng-disabled="item.inspected_for_living_tags == false" ng-model-onblur ng-change="save()" />
							<span class="error" ng-show="form.living_tags_located.$error.maxlength">max length exceeded</span>
						</div>
					</div>
				</div>
			</div>
		</tab>
        <tab heading="Morphometrics ({{ $root.recordCounts.turtleMorphometricCount }})">
			<div>
				<ng-include src="'/rosterweb/views/turtle_morphometric_list.html'"></ng-include>
			</div>
		</tab>
        <tab heading="Attachments ({{ $root.recordCounts.turtleAttachmentCount }})">
			<div>
				<ng-include src="'/rosterweb/views/turtle_attachment_list.html'"></ng-include>
			</div>
		</tab>
        <tab heading="Brochure">
			<div class="form-group" ng-class="{error: form.brochure_comments.$invalid}">
				<label for="brochure_comments">Comments</label>
				<div>
					<textarea class="form-control" style="height: 120px; vertical-align:top;" ng-model="item.brochure_comments" id="brochure_comments" name="brochure_comments" ng-maxlength="255" maxlength="255" ng-model-onblur ng-change="save()"></textarea>
					<span class="error" ng-show="form.brochure_comments.$error.maxlength">max length exceeded</span>
				</div>
			</div>
			<div class="form-group" ng-class="{error: form.brochure_background_color.$invalid}">
				<label for="brochure_background_color">Background color</label>
				<div>
					<input class="form-control" type="color" ng-model="item.brochure_background_color" id="brochure_background_color" name="brochure_background_color" ng-maxlength="255" maxlength="255" ng-change="save()" />
					<span class="error" ng-show="form.brochure_background_color.$error.maxlength">max length exceeded</span>
				</div>
			</div>
			<div class="form-group" ng-class="{error: form.brochure_image_file_attachment_id.$invalid}">
				<label for="brochure_image_file_attachment_id">Image</label>
				<div>
					<div style="float:left; margin-right: 12px;">
						<input type="hidden" value="{{ item.brochure_image_file_attachment_id }}" id="brochure_image_file_attachment_id" name="brochure_image_file_attachment_id" />
						<img ng-show="item.brochure_image_file_attachment_id != null" ng-src="{{ item.brochure_image_file_attachment_id }}" height="300px" width="300px" />
					</div>
					<div style="float:left;">
						<ng-upload-turtle-brochure-image>
					</div>
					<div style="float:left; margin-left:12px;">
						<a ng-click="previewBrochure(item);"><img ng-src="/rosterweb/img/print-preview.png" alt="Preview Brochure" title="Preview Brochure" style="cursor:pointer;" /></a>
					</div>
				</div>
			</div>
		</tab>
    </tabset>
</form>
