<div ng-controller="TurtleAttachmentListCtrl">
	<div>
		<ng-upload-turtle-attachments>
	</div>
	<hr />
	<table class="table table-striped table-condensed table-hover" ng-show="($root.recordCounts.turtleAttachmentCount > 0)">
		<thead>
			<th sorted="base_file_name">File Name</th>
			<th></th>
		</thead>
		<tbody>
			<tr ng-repeat="item in items" id="item_{{item.turtle_attachment_id}}">
				<td><a href='{{item.full_file_name}}'>{{item.base_file_name}}</a></td>
				<td>
					<a href ng-click="delete(item)" tooltip="Delete"><i class="glyphicon glyphicon-trash"></i></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>