<div ng-controller="TurtleMorphometricListCtrl">
    <tabset>
        <tab heading="Measurements">
			<table class="table table-striped table-condensed table-hover">
				<thead>
					<th sorted="date_measured">Date Measured</th>
					<th sorted="scl_notch_notch_value">SCL notch-notch</th>
					<th sorted="scl_notch_tip_value">SCL notch-tip</th>
					<th sorted="scl_tip_tip_value">SCL tip-tip</th>
					<th sorted="scw_value">SCW</th>
					<th sorted="ccl_notch_notch_value">CCL notch-notch</th>
					<th sorted="ccl_notch_tip_value">CCL notch-tip</th>
					<th sorted="ccl_tip_tip_value">CCL tip-tip</th>
					<th sorted="ccw_value">CCW</th>
					<th sorted="weight_value">Weight</th>
					<th><a href="#/turtle_morphometric/new" tooltip="Add a new measurement"><i class="glyphicon glyphicon-plus"></i></a></th>
				</thead>
				<tbody>
					<tr ng-repeat="item in items | orderBy:sort_order:sort_desc" id="item_{{item.turtle_morphometric_id}}">
						<td>{{item.date_measured}}</td>
						<td>{{item.scl_notch_notch_value}}</td>
						<td>{{item.scl_notch_tip_value}}</td>
						<td>{{item.scl_tip_tip_value}}</td>
						<td>{{item.scw_value}}</td>
						<td>{{item.ccl_notch_notch_value}}</td>
						<td>{{item.ccl_notch_tip_value}}</td>
						<td>{{item.ccl_tip_tip_value}}</td>
						<td>{{item.ccw_value}}</td>
						<td>{{item.weight_value}}</td>
						<td>
							<a href="#/turtle_morphometric/edit/{{item.turtle_morphometric_id}}" tooltip="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
							<a href ng-click="delete(item)" tooltip="Delete"><i class="glyphicon glyphicon-trash"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</tab>
		<tab heading="Graph">
			<div>
				<div style="float: left;">
					<ng-morphometrics-graph val="items" is-checked="isChecked"></ng-morphometrics-graph>
				</div>
				<div style="float: left;margin-top: 20px;" ng-show="(items.length > 0)">
					<label style="color: lightcoral; font-size: small;"><input type="checkbox" name="chkSclNotchNotch" ng-model="isChecked.sclNotchNotch" style="margin-top: 0px;margin-right: 6px;" />SCL notch-notch</label>
					<label style="color: red; font-size: small;"><input type="checkbox" name="chkSclNotchTip" ng-model="isChecked.sclNotchTip" style="margin-top: 0px;margin-right: 6px;" />SCL notch-tip</label>
					<label style="color: darkred; font-size: small;"><input type="checkbox" name="chkSclTipTip" ng-model="isChecked.sclTipTip" style="margin-top: 0px;margin-right: 6px;" />SCL tip-tip</label>
					<label style="color: darkorange; font-size: small;"><input type="checkbox" name="chkScw" ng-model="isChecked.scw" style="margin-top: 0px;margin-right: 6px;" />SCW</label>
					<label style="color: lightgreen; font-size: small;"><input type="checkbox" name="chkCclNotchNotch" ng-model="isChecked.cclNotchNotch" style="margin-top: 0px;margin-right: 6px;" />CCL notch-notch</label>
					<label style="color: limegreen; font-size: small;"><input type="checkbox" name="chkCclNotchTip" ng-model="isChecked.cclNotchTip" style="margin-top: 0px;margin-right: 6px;" />CCL notch-tip</label>
					<label style="color: darkgreen; font-size: small;"><input type="checkbox" name="chkCclTipTip" ng-model="isChecked.cclTipTip" style="margin-top: 0px;margin-right: 6px;" />CCL tip-tip</label>
					<label style="color: mediumturquoise; font-size: small;"><input type="checkbox" name="chkCcw" ng-model="isChecked.ccw" style="margin-top: 0px;margin-right: 6px;" />CCW</label>
					<label style="color: violet; font-size: small;"><input type="checkbox" name="chkWeight" ng-model="isChecked.weight" style="margin-top: 0px;margin-right: 6px;" />Weight</label>
				</div>
			</div>
		</tab>
	</tabset>
</div>