<form class="form-search">
	<div style="float:right;margin-top:6px;margin-bottom:20px;margin-right:6px;">
		<div class="input-append">
			<input type="text" ng-model="q" class="input-medium" placeholder="Filter">
		</div>
	</div>
</form>
<ul class="breadcrumb">
	<li class="active" style="font-size: x-large; font-weight: 650; margin-top: 3px;">Washbacks Events</li>
</ul>
<a href="#/washbacks_acquired_event/new" class="btn">Add washbacks acquired event</a>&nbsp;
<a href="#/washbacks_died_event/new" class="btn">Add washbacks died event</a>&nbsp;
<a href="#/washbacks_released_event/new" class="btn">Add washbacks released event</a>&nbsp;
<a href="#/washbacks_doa_event/new" class="btn">Add washbacks DOA event</a>&nbsp;
<table class="table table-striped table-condensed table-hover">
    <thead>
        <th sorted="species_code">Species</th>
        <th sorted="event_type">Event Type</th>
        <th sorted="event_date">Date</th>
        <th sorted="event_count">Count</th>
        <th sorted="county_name">County</th>
		<th></th>
    </thead>
    <tbody>
        <tr ng-repeat="item in items | filter:searchFilter | orderBy:sort_order:sort_desc" id="item_{{item.washbacks_event_id}}">
            <td>{{item.species_code}}</td>
            <td>{{item.event_type}}</td>
            <td>{{item.event_date}}</td>
            <td>{{item.event_count}}</td>
            <td>{{item.county_name}}</td>
            <td>
                <a href="#/washbacks_{{item.event_type_code}}_event/edit/{{item.washbacks_event_id}}" bs-tooltip="'Edit'"><i class="icon-pencil"></i></a>
                <a ng-click="delete(item)" bs-tooltip="'Delete'"><i class="icon-trash"></i></a>
            </td>
        </tr>
    </tbody>
</table>
