<ul class="breadcrumb">
	<li><a href='#/washbacks_event'>Washbacks Events</a></li>
	<li class="active">Washbacks Released Event</li>
</ul>

<form name="form" class="container form-horizontal">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group" ng-class="{error: form.species_code.$invalid}">
				<label for="species_code">Species</label>
				<div>
					<select class="form-control" id="species_code" name="species_code" ng-model="item.species_code" ng-options="s.id as s.name for s in species" ng-change="save()" ></select>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group" ng-class="{error: form.event_date.$invalid}">
				<label for="event_date">Event date</label>
				<div class="input-group">
					<input class="form-control" type="text" id="event_date" name="event_date" datepicker-popup="yyyy-MM-dd" ng-model="item.event_date" min-date="'1950-01-01'" max-date="'2099-12-31'" is-open="datePicker.eventDateOpened" datepicker-options="dateOptions" close-text="Close" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="openDatePicker($event, 'eventDateOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group" ng-class="{error: form.beach_event_count.$invalid}">
				<label for="beach_event_count">Beach event count</label>
				<div>
					<input class="form-control" type="number" min="0" max="99999" ng-model="item.beach_event_count" id="beach_event_count" name="beach_event_count" ng-maxlength="255" maxlength="255" ng-model-onblur ng-change="save()" />
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group" ng-class="{error: form.offshore_event_count.$invalid}">
				<label for="offshore_event_count">Offshore event count</label>
				<div>
					<input class="form-control" type="number" min="0" max="99999" ng-model="item.offshore_event_count" id="offshore_event_count" name="offshore_event_count" ng-maxlength="255" maxlength="255" ng-model-onblur ng-change="save()" />
				</div>
			</div>
		</div>
	</div>
</form>
