<ul class="breadcrumb">
	<li><a href='#/user'>Users</a> <span class="divider">/</span></li>
	<li class="active">User: {{ item.user_name }}</li>
</ul>
<form name="form" class="form-horizontal">
	<div>
		<div style="float:left; margin:3px;">
			<div class="control-group" ng-class="{error: form.user_name.$invalid}">
				<label class="control-label" for="user_name">User name:</label>
				<div class="controls">
					<input type="text" ng-model="item.user_name" id="user_name" name="user_name" required ng-maxlength="255" maxlength="255" autofocus="autofocus" ng-model-onblur ng-change="save()" />
					<span class="error" ng-show="form.user_name.$error.required">required</span>
					<span class="error" ng-show="form.user_name.$error.maxlength">max length exceeded</span>
				</div>
			</div>
			<div class="control-group" ng-class="{error: form.user_email.$invalid}">
				<label class="control-label" for="user_email">User e-mail:</label>
				<div class="controls">
					<input type="text" ng-model="item.user_email" id="user_email" name="user_email" required ng-maxlength="255" maxlength="255" ng-model-onblur ng-change="save()" />
					<span class="error" ng-show="form.user_email.$error.required">required</span>
					<span class="error" ng-show="form.user_email.$error.maxlength">max length exceeded</span>
				</div>
			</div>
			<div class="control-group" ng-class="{error: form.organization_id.$invalid}">
				<label class="control-label" for="organization_id">Organization:</label>
				<div class="controls">
					<select id="organization_id" name="organization_id" ng-model="item.organization_id" ng-options="o.organization_id as o.organization_name for o in organizations | orderBy: 'organization_name'" ng-change="save()" ></select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="last_login">Last login:</label>
				<div class="controls">
					<input type="text" ng-readonly="true" ng-model="item.last_login" id="last_login" name="last_login" />
				</div>
			</div>
		</div>
		<div style="float:left; margin:3px 3px 3px 40px;">
			<div class="control-group" style="margin-bottom: 0px;">
				<label class="control-label" for="is_admin">Is admin:</label>
				<div class="controls">
					<input type="checkbox" ng-model="item.is_admin" ng-checked="item.is_admin" name="is_admin" id="is_admin" ng-change="save()" />
				</div>
			</div>
		</div>
    </div>
</form>
