<form class="form-search">
	<div style="float:right;margin-top:3px;margin-bottom:20px;margin-right:6px;">
		<div class="input-append">
			<input type="text" ng-model="q" class="input-medium search-query" placeholder="Search">
			<button ng-click="search()" type="submit" class="btn"><i class="icon-search"></i></button>
		</div>
		<button ng-click="q=''; search()" ng-disabled="!q" type="submit" class="btn">Reset</button>
	</div>
</form>
<ul class="breadcrumb">
	<li class="active">Holding Tanks ({{ $root.recordCounts.tankCount }})</li>
</ul>
<table class="table table-striped table-condensed table-hover">
    <thead>
        <th sorted="tank_name">Tank Name</th>
        <th><a href="#/tank/new" bs-tooltip="'Add a new holding tank'"><i class="icon-plus-sign"></i></a></th>
    </thead>
    <tbody>
        <tr ng-repeat="item in items" id="item_{{item.tank_id}}">
            <td>{{item.tank_name}}</td>
            <td>
                <a href="#/tank/edit/{{item.tank_id}}" bs-tooltip="'Edit'"><i class="icon-pencil"></i></a>
                <a ng-click="delete(item)" bs-tooltip="'Delete'"><i class="icon-trash"></i></a>
            </td>
        </tr>
    </tbody>
</table>
