<form class="form-search">
	<div style="float:right;margin-top:6px;margin-bottom:20px;margin-right:6px;">
		<div class="input-append">
			<input type="text" ng-model="q" class="input-medium search-query" placeholder="Search">
			<button ng-click="search()" type="submit" class="btn"><i class="icon-search"></i></button>
		</div>
		<button ng-click="q=''; search()" ng-disabled="!q" type="submit" class="btn">Reset</button>
	</div>
</form>
<ul class="breadcrumb">
	<li class="active" style="font-size: x-large; font-weight: 650; margin-top: 3px;">Organizations</li>
</ul>
<table class="table table-striped table-condensed table-hover">
    <thead>
        <th sorted="organization_name">Organization Name</th>
        <th sorted="city">City</th>
        <th sorted="state">State</th>
        <th><a href="#/organization/new" bs-tooltip="'Add a new organization'"><i class="icon-plus-sign"></i></a></th>
    </thead>
    <tbody>
        <tr ng-repeat="item in items" id="item_{{item.organization_id}}">
            <td>{{item.organization_name}}</td>
            <td>{{item.city}}</td>
            <td>{{item.state}}</td>
            <td>
                <a href="#/organization/edit/{{item.organization_id}}" bs-tooltip="'Edit'"><i class="icon-pencil"></i></a>
                <a href ng-click="delete(item);" bs-tooltip="'Delete'"><i class="icon-trash"></i></a>
            </td>
        </tr>
    </tbody>
</table>
