<ul class="breadcrumb">
	<li><a href='#/county'>Counties</a> <span class="divider">/</span></li>
	<li class="active">County: {{ item.county_name }}</li>
</ul>
<form name="form" class="form-horizontal">
    <div class="control-group" ng-class="{error: form.county_name.$invalid}">
        <label class="control-label" for="county_name">County name:</label>
        <div class="controls">
            <input type="text" ng-model="item.county_name" id="county_name" name="county_name" required ng-maxlength="255" maxlength="255" autofocus="autofocus" ng-model-onblur ng-change="save()" />
			<span class="error" ng-show="form.county_name.$error.required">required</span>
			<span class="error" ng-show="form.county_name.$error.maxlength">max length exceeded</span>
        </div>
    </div>
</form>
